<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
    <% include ./partials/head %>
</head>

<body>
    <header>
        <% include ./partials/header %>
    </header>
    <div class="container">
        <div class="page-header text-center">
            <h1>
                <br />
                <br />Garden Page</h1>
            <a href="/account" class="btn btn-default btn-sm">Account</a>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger">
            <%= message %>
        </div>
        <% } %>
        <div class="row">
            <!-- plants -->
            <div class="col-sm-12">
                <div class="well">
                    <h3>
                        <i class="material-icons" style="font-size:36px">
                            spa
                        </i> Plants
                        <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#createplantModal">Create
                            Plant
                        </button>
                        <br>
                    </h3>
                    <!-- Modal -->
                    <div class="modal fade" id="createplantModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Create a new Plant</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="/garden" method="post">
                                        <div class="form-group">
                                            <label>Plant Name</label>
                                            <input type="text" class="form-control" name="plantName">
                                            <input type="hidden" value="<%=gardenID %>" name="gardenID">
                                        </div>
                                        <button type="submit" class="btn btn-default">Create</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <% plants.forEach(function (plant) { %>
                        <div class="col-sm-4">
                            <br>
                            <b>Plant Name: </b>
                            <%= plant.name %>
                            <br>
                            <b>Plant Created: </b>
                            <%= plant.created_at %>
                            <br>
                            <b>ID: </b>
                            <%= plant.id %>
                            <br>
                            <br>
                            <form action="/settings/:<%= plant.id %>:<%= gardenID %>" method="get">
                                <button type="submit" class="btn btn-info btn-sm pull-left">Settings</button>
                            </form>
                            <form action="/garden/:<%= plant.id %>:<%= gardenID %>" method="post">
                                <button type="submit" class="btn btn-danger btn-sm pull-right" data-toggle="modal"
                                    data-target="#deletePlant">Delete
                                    Plant
                                </button>
                            </form>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>